

  
	
	
	
		
		
	
	
		
		<!-- ==============================================
		HEADER
		=============================================== -->
		<header id="home">
			<div class="container text-center">

				<div class="hello">
					<p>HELLO</p>
					<h1>I AM CARLOS NARVAEZ</h1>
					<p class="p2">AND</p>
					<H2>I AM A FULL STACK DEVELOPER</H2>
				</div>
				
			</div>
		</header><!--End home header -->

		<!-- ==============================================
		ABOUT
		=============================================== -->
		<section id="about" class="bg1">
		
			<div class="container">
				
				<div class="row">

					
					<div class="col-xs-12">
						<h1 class="big-text orange wow fadeInDown text-center">
							<i class="fa fa-user"></i>
							About Me
						</h1>
						<p class="about-text wow fadeInDown">
							I"m an Information Technology professional with a diverse background in Full Stack development
							and SQL Database Administration. My goal is to be a part of a team and develop your fully funcional web applications.
						</p>
					</div>

					<!-- ==== PHOTO ==== -->
					<div class="col-sm-6">
						<div id="trigger1"></div>
						<div id="pin1" class="imageCont">
							<img class="wow rollIn image" data-wow-offset="200" src="~/assets/images/fullFamPic.jpg" alt="" />
							
						</div>
					</div>
					
					<!-- ==== TIMELINE ==== -->
										<div class="col-sm-6 timeline">
						<i id="timeline-top" class="fa fa-clock-o"></i>

						<div class="wow fadeinright" data-wow-offset="200">
							<i class="fa fa-smile-o wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
							<h3>1974.12.26.</h3>
							<p>
								<span>Born</span>
								New York City, New York.  I lived in Florida for 30 years. I currently live in High Point, North Carolina.  </p>
						</div>

						 <div class="wow fadeinright" data-wow-offset="200">
							<i class="fa fa-briefcase wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
							<h3>1993 - 2008</h3>
							<p>
								<span>Sales Professional</span>
								My sales experience involved consulting with businesses, helping them make the the right choices for their needs.                           </p>
						</div>

						 <div class="wow fadeInRight" data-wow-offset="200">
							<i class="fa fa-university wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
							<h3>20009-2011</h3>
							<p>
								<span>SWFC / Technical Institute</span>
								Graduated 2011 with an AS in Computer Science focusing on Computer Programming and Database Management    </p>
						</div>

						<div class="wow fadeinright" data-wow-offset="200">
							<i class="fa fa-briefcase wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
							<h3>2010 - 2012</h3>
							<p>
								<span>CRM SQL-DBA Consultant</span>
								CRM SQL-DBA Consultant. Working with Sales teams to create sales processes and customize their CRM to the business. Designing custom SQL querries and reports for Inventory control and Sales managers.                         </p>
						</div>

						 <div class="wow fadeinright" data-wow-offset="200">
							<i class="fa fa-briefcase wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
							<h3>2010 - Present</h3>
							<p>
								<span>Freelancer Consultant</span>
							   Consult with clients to optimize presentations for their meetings and events. Set design for meetings and events that capture the attention of the attendees and their Clients.                       </p>
						</div>

						<div class="wow fadeinright" data-wow-offset="200">
							<i class="fa fa-briefcase wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
							<h3>2016 - 2017</h3>
							<p>
								<span>Operational Risk Consultant</span>
								Wells Fargo Co. Assisting in compiling information to support RBAC & ABAC methodology to fulfill Audit"
								s requirement for the specific line of business.                           </p>
						</div>

						<div class="wow fadeinright" data-wow-offset="200">
							<i class="fa fa-graduation-cap wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
							<h3>2017</h3>
							<p>
								<span>.Net developer</span>
								 Coder Foundry. Writing well designed, testable, efficient code by using best software development practices. Creating website layout/user interfaces by using standard HTML/CSS practices. Integrating data from various back-end services and databases"            </p>
						</div>
						 <div class="wow fadeinright" data-wow-offset="200">
							<i class="fa fa-file-text wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
							<h3><a href="~/assets/images/CN%20Resume%20IT_5.docx" target="_blank">Resume</a></h3>
						 </div>
					</div>
				</div>
				
			</div>
		
		</section><!--End about section -->


		<!-- ==============================================
		SKILLS
		=============================================== -->
		<section id="skills" class="bg2">
		
			<div class="container">
				
				<div class="row">

					<div class="col-xs-12">
						<h1 class="big-text wow fadeInDown text-center" data-wow-offset="100">
							<i class="fa fa-pie-chart"></i>
							 My skills
						</h1>
					</div>

					<div class="col-md-3 col-sm-6 text-center" style="padding-top:20px">
					  <img src="~/assets/images/CSS.png" />
					</div>

					<div class="col-md-3 col-sm-6 text-center" style="padding-top:20px">
					  <img src="~/assets/images/Html5.png" />
					</div>

					<div class="col-md-3 col-sm-6 text-center" style="padding-top:20px">
					  <img src="~/assets/images/Csharp.png" />
					</div>

					<div class="col-md-3 col-sm-6 text-center" style="padding-top:20px">
					  <img src="~/assets/images/SQL.png" height="225" width="225" />
					</div>

					<div class="col-md-3 col-sm-6 text-center" style="padding-top:20px">
						<img src="~/assets/images/JQ.png" height="225" width="225" />
					</div>

					<div class="col-md-3 col-sm-6 text-center" style="padding-top:20px">
						<img src="~/assets/images/Xamarin.png" height="225" width="225" />
					</div>

					<div class="col-md-3 col-sm-6 text-center" style="padding-top:20px">
						<img src="~/assets/images/bootstrap.png" height="225" width="225"/>
					</div>

					<div class="col-md-3 col-sm-6 text-center" style="padding-top:20px">
						<img src="~/assets/images/Unofficial_JavaScript_logo_2.svg.png" height="225" width="225" />
					</div>
			 
					
				</div>
				<section id="language" class="bg2"></section>
				<div class="row">
					<div class="col-md-3 col-sm-6 text-center" style="padding-top:100px">
						<span class="chart" data-percent="100">
							<span class="title">English</span>
							<span class="percent"></span>
						</span>
					</div>
					  <div class="col-md-3 col-sm-6 text-center" style="padding-top:100px">
						<span class="chart" data-percent="90">
							<span class="title">Spanish</span>
							<span class="percent"></span>
						</span>
					</div>
				</div>
				
			</div>
		
		</section><!--End skills section -->
			
		<!-- ==============================================
		PORTFOLIO
		=============================================== -->
		<section id="portfolio" class="">

	<div class="container">

		<h1 class="big-text orange wow fadeInDown text-center" data-wow-offset="100">
			<i class="fa fa-th"></i>
			My works
		</h1>

		<!--==== Portfolio Filters ====-->
		<div id="filter-works">
			<ul>
				<li class="active wow fadeInRight" data-wow-delay="0s">
					<a href="#" data-filter="*">All</a>
				</li>
				<li class="wow fadeInRight" data-wow-delay=".6s">
					<a href="#" data-filter=".webdesign">Javascript-HTML-CSS3</a>
				</li>
				<li class="wow fadeInRight" data-wow-delay=".6s">
					<a href="#" data-filter=".logo">MVC</a>
				</li>
				<li class="wow fadeInRight" data-wow-delay=".9s">
					<a href="#" data-filter=".photography">Mobile Apps</a>
				</li>
			</ul>
		</div><!--End portfolio filters -->

	</div>

	<div class="container masonry-wrapper">

		<div id="projects-container">

			<!-- ==== PROJECT ITEM Crazy Numbers Javascript==== -->
            <article class="project-item webdesign" data-toggle="modal" data-target=".project-item-1">
                <img class="img-responsive project-image" id="CrazyNum" src="~/assets/images/crzyNum2.png" height="280" width="210" alt=""><!--Project thumb -->
               
                <h2 class="project-title">Crazy Numbers</h2><!--Project Title -->
            </article>

			<!--==== Project Modal Crazy Numbers====-->
			<div class="modal fade project-item-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">Numbers Making Sense <span>javascript exercise</span></h4><!--Modal Title, Subtitle -->
							<img src="~/assets/images/project.jpg" alt="" />
						</div>

						<div class="modal-body modal-lg">
							<h3 style='display:inline-block;'>
								This javascript exercise takes your Crazy Numbers, and extracts
								interesting information about them.  Enter in only numbers to get your results.
							</h3>
							<div class="container-fluid">
								<form id="form1">
									<div class="row" style="padding-top: 2em">
										<div class="col-lg-12">
											<div class="form-group row justify-content-lg-center">
												<label class="control-label col-sm-4 col-md-2 col-lg-4 num-label" for="firstNumber">First Number:</label>
												<div class="col-lg-4">
													<input type="number" class="form-control" id="firstNumber" placeholder="Enter first number" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) ))return false;" required />
												</div>
											</div>
											<div class="form-group row justify-content-lg-center">
												<label class="control-label col-sm-4 col-md-4 col-lg-4 num-label" for="secondNumber">Second Number:</label>
												<div class="col-lg-4">
													<input type="number" class="form-control" id="secondNumber" placeholder="Enter second number" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) ))return false;" required />
												</div>
											</div>
											<div class="form-group row justify-content-lg-center">
												<label class="control-label col-sm-4 col-md-2 col-lg-4 num-label" for="thirdNumber">Third Number:</label>
												<div class="col-lg-4">
													<input type="number" class="form-control" id="thirdNumber" placeholder="Enter third number" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" required />
												</div>
											</div>
											<div class="form-group row justify-content-lg-center">
												<label class="control-label col-sm-4 col-md-4 col-lg-4 num-label" for="fourthNumber">Fourth Number:</label>
												<div class="col-lg-4">
													<input type="number" class="form-control" id="fourthNumber" placeholder="Enter fourth number" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" required />
												</div>
											</div>
											<div class="form-group row justify-content-lg-center">
												<label class="control-label col-sm-4 col-md-2 col-lg-4 num-label" for="fifthNumber">Fifth Number:</label>
												<div class="col-lg-4">
													<input type="number" class="form-control" id="fifthNumber" placeholder="Enter fifth number" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" required />
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-2 col-md-2 offset-md-3 offset-lg-3 col-lg-4">
													<button type="button" class="btn btn-success" id="CrazyNumberSubmit">Submit</button>
												</div>
											</div>
											<div class="form-group row">
												<div class=" col-sm-2 col-md-2 offset-md-3 offset-lg-3 col-lg-4">
													<button id="CrazyNumCl" type="button" class="btn btn-warning">Clear</button>
												</div>
											</div>

											<div class="row col-md-12">
												<h3>The Results are :</h3><span id="errorMessage1" style="font-weight:bolder; color: red"></span>
											</div>
											<div class="row">

												<div class="col-md-12"><span id="numResult"></span></div>
											</div>
											<div class="row">

												<div class="col-md-12"><span id="minResult"></span></div>
											</div>
											<div class="row">

												<div class="col-md-12"><span id="maxResult"></span></div>
											</div>
											<div class="row">

												<div class="col-md-12"><span id="multResult"></span></div>
											</div>

											<div class="row">

												<div class="col-md-12"><span id="sumResult"></span></div>
											</div>
											<div class="row">


												<div class="col-md-12"><span id="meanResult"></span></div>
											</div>

										</div>
									</div>
								</form>
								<button class="btn btn-success" type="button" id="showCodeCrazyNum">Show / Hide Code</button>

								<div class="row">
									<div class="col-md-12">
										<div id="hideCodeCrazyNum">
										   
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- ==== END PROJECT ITEM ==== -->
			<!-- ==== PROJECT ITEM AV show ready Mobile==== -->
			<article class="project-item photography" data-toggle="modal" data-target=".project-item-2">
				<img class="img-responsive project-image" src="~/assets/images/mobile-app.png" height="280" width="210" alt=""><!--Project thumb -->
				<h2 class="project-title">AV show ready</h2><!--Project Title -->
			</article>

			<!--==== Project Modal AV show Mobile ====-->
			<div class="modal fade project-item-2">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">AV show ready <span>Mobile App</span></h4><!--Modal Title, Subtitle -->
							<img src="~/assets/images/project.jpg" alt="" />
						</div>
						<div class="modal-body">
							<p>Audio Video app that allows the teams to be on time with the right equipment for every show.  It will allow techs to keep up on inventory and meeting rooms, alerting them of upcomming meetings. </p>
						</div>
					</div>
				</div>
			</div>
			<!-- ==== END PROJECT ITEM ==== -->
			<!-- ==== PROJECT ITEM Fizz Buzz Javascript==== -->
			<article class="project-item webdesign" data-toggle="modal" data-target=".project-item-3">
				<img class="img-responsive project-image" src="~/assets/images/Unofficial_JavaScript_logo_2.svg.png" height="280" width="210" alt=""><!--Project thumb -->
				<h2 class="project-title">Fizz Buzz</h2><!--Project Title -->
			</article>

			<!--==== Project Modal Fizz Buzz====-->
			<div class="modal fade project-item-3">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">Pop Pop "Fizz Buzz"<span>Javascript/Jquery</span></h4>
							<img src="~/assets/images/project.jpg" alt="" />
						</div>
						<div class="modal-body">
							<h3>
								This program will compare your numbers to a set of numbers from 1 to 100.  Any time your number is divisible by the set,
								you wil get a "Fizz" for the first number, and a "Buzz" for the second.  How many times you can match both?
							</h3>
							<div class="container-fluid">
								<form id="FormFizz">
									<div class="row" style="padding-top: 2em">
										<div class="col-lg-8 col-md-10">
											<div class="form-group row">
												<label class="control-label col-sm-4 col-md-4 col-lg-4 num-label" for="num1">First Number:</label>
												<div class="col-lg-4 col-md-4">
													<input type="number" class="form-control" id="num1" placeholder="" />
												</div>
											</div>
											<div class="form-group row">
												<label class="control-label col-sm-4 col-md-4 col-lg-4 num-label" for="num2">Second Number:</label>
												<div class="col-lg-4 col-md-4">
													<input type="number" class="form-control" id="num2" placeholder="" />
												</div>
											</div>

											<div class="form-group row">
												<div class="col-lg-offset-4 col-md-offset-4 col-lg-6">
													<button type="button" class="btn btn-success" id="fbsubmit" onclick="validateFb()">Submit</button>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-lg-offset-4 col-md-offset-4 col-lg-6">
													<button id="FormFizzCl" type="button" class="btn btn-warning">Clear</button>
												</div>
											</div>
											<div class="row">

												<div class="col-md-12"><span id="fbResult"></span></div>
											</div>

										</div>
									</div>
								</form>
								<button class="btn btn-success" type="button" id="showCodeFizzBuzz">Show / Hide Code</button>
								<div class="row">
									<div class="col-md-12 col-lg-12">
										<div id="hideCodeFizzBuzz">
											<!--<pre class="brush: js">

									</pre>-->
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ==== END PROJECT ITEM ==== -->	
			<!-- ==== PROJECT ITEM Factorial Calculator javascript==== -->
			<article class="project-item webdesign" data-toggle="modal" data-target=".project-item-4">
                <img class="img-responsive project-image" src="~/assets/images/rsz_net.png" alt=""><!--Project thumb --><h2 class="project-title">Factorial Calculator</h2><!--Project Title -->
			</article>

			<!--==== Project Modal Factorial Calculator ====-->
			<div class="modal fade project-item-4">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">Factorial Calculator <span>Cool Stuff</span></h4><!--Modal Title, Subtitle -->
							<img src="~/assets/images/project.jpg" alt="" />
						</div>
						<div class="modal-body">
							<h3>Factorial calculator takes your number and gives you the Factorial of it. An example is: 4! is shorthand for 4 x 3 x 2 x 1 = 24. The Factorial would be 24.  Enter in a number and get the facts.</h3>
							<div class="container">
								<form id="formFact" onSubmit="return false;">
									<div class="row">
										<div class="col-lg-4 col-lg-offset-1">
											<div class="form-group row">
												<label class="control-label col-lg-5 num-label" for="factNum1">First Number:</label>
												<div class="col-lg-6">
													<input type="number" id="factNum1" placeholder="Enter first number">
												</div>
											</div>

											<div class="form-group row">
												<div class="col-lg-offset-6 col-lg-6">
													<button class="btn btn-success" type="button" id="factSubmit" onclick="validateFact()">Submit</button>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-lg-offset-6 col-lg-6">
													<button id="factCl" type="button" class="btn btn-warning">Clear</button>
												</div>
											</div>

											<div class="form-group row">
												<div class="col-md-12">
													<span id="factResult1"></span>

												</div>
											</div>

										</div>
									</div>

									<div class="row">
										<button class="btn btn-success" type="button" id="showCodeFact">Show / Hide Code</button>
									</div>

								</form>
								<div class="row">
									<div class="col-md-8">
										<div id="hideCodeFact">
											<!--<pre class="brush: js">

									</pre>-->
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ==== END PROJECT ITEM ==== -->	
			<!-- ==== PROJECT ITEM ==== -->
			<!-- ==== PROJECT ITEM Blog MVC==== -->
			<article class="project-item logo" data-toggle="modal" data-target=".project-item-5">
				<img class="img-responsive project-image" src="~/assets/images/rsz_net.png" alt=""><!--Project thumb -->
				<h2 class="project-title">My Blog</h2><!--Project Title -->
			</article>

			<!--==== Project Modal  Blog ====-->
			<div class="modal fade project-item-5">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">My Blog<span>MVC webdesign</span></h4><!--Modal Title, Subtitle -->
							<img src="~/assets/images/project.jpg" alt="" />
						</div>
						<div class="modal-body">
							<p>My personal blog, chronicling my everyday experienes for your entertainment</p>
						</div>
					</div>
				</div>
			</div>
			<!-- ==== END PROJECT ITEM ==== -->	
			<!-- ==== PROJECT ITEM Budgeter or Financial Planner MVC==== -->
			<article class="project-item logo" data-toggle="modal" data-target=".project-item-6">
				<img class="img-responsive project-image" src="~/assets/images/Unofficial_JavaScript_logo_2.svg.png" height="280" width="210" alt=""><!--Project thumb -->
				<h2 class="project-title">Financial Planner</h2><!--Project Title -->
			</article>

			<!--==== Project Modal Budgeter or Financial Planner MVC ====-->
			<div class="modal fade project-item-6">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">My Financial Planner <span>MVC</span></h4><!--Modal Title, Subtitle -->
							<img src="~/assets/images/project.jpg" alt="" />
						</div>
						<div class="modal-body">
							<p>This application will help you keep track of all your expenses and keep you on budget.  Using MVC, C# technologies</p>
						</div>
					</div>
				</div>
			</div>
			<!-- ==== END PROJECT ITEM ==== -->	
			<!-- ==== PROJECT ITEM Shopping Cart MVC==== -->
			<article class="project-item logo" data-toggle="modal" data-target=".project-item-7">
                <img class="img-responsive project-image" src="~/assets/images/rsz_net.png" alt=""><!--Project thumb -->
				<h2 class="project-title">Shopping Cart</h2><!--Project Title -->
			</article>

			<!--==== Project Modal Shopping Cart====-->
			<div class="modal fade project-item-7">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">Shopping Cart <span>MVC Web technologies</span></h4><!--Modal Title, Subtitle -->
							<img src="~/assets/images/project.jpg" alt="" />
						</div>
						<div class="modal-body">
							<p>This Application will allow you to have a working web front store with a shopping cart.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- ==== END PROJECT ITEM ==== -->	
			<!-- ==== PROJECT ITEM CarFinder MVC/mobile==== -->
			<article class="project-item photography" data-toggle="modal" data-target=".project-item-8">
				<img class="img-responsive project-image" src="~/assets/images/mobile-app.png" height="280" width="210" alt=""><!--Project thumb -->
				<h2 class="project-title">CarFinder</h2><!--Project Title -->
			</article>

			<!--==== Project Modal CarFinder====-->
			<div class="modal fade project-item-8">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">CarFinder<span>Web API, MVVM</span></h4><!--Modal Title, Subtitle -->
							<img src="~/assets/images/project.jpg" alt="" />
						</div>
						<div class="modal-body">
							<p>This Mobile application will help you pinpoint the car you love with all the things you want.  At the right price.</p>
							<img class="width50" src="~/assets/images/project.jpg" alt="" />
							<p>Using Web API, and Xamarin Cross platform Mobile applications. MVVM </p>
							<img class="width100" src="~/assets/images/project.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
			<!-- ==== END PROJECT ITEM ==== -->	
			<!-- ==== PROJECT ITEM Palindrome Javascript==== -->
			<article class="project-item webdesign" data-toggle="modal" data-target=".project-item-9">
				<img class="img-responsive project-image" src="~/assets/images/Unofficial_JavaScript_logo_2.svg.png" height="280" width="210" alt=""><!--Project thumb -->
				<h2 class="project-title">Palindrome</h2><!--Project Title -->
			</article>

			<!--==== Project Modal Palindrome====-->
			<div class="modal fade project-item-9">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">Palindrome<span>Javascript excersize</span></h4><!--Modal Title, Subtitle -->
							<img src="~/assets/images/project.jpg" alt="" />
						</div>
						<div class="modal-body">
							<p>Type in a word to determines whether your word is a Palindrome (the same backward as it is forward.  &quot;Radar&quot; for example. Don't use radar, it's off limits...).</p>
							<div class="container-fluid">
								<form id="formPal" onSubmit="return false;">
									<div class="row">
										<input type="text" placeholder="Enter in a word" id="Palinput" />


										<button type="button" onclick="validatePal()">See it Now!</button>
										<h2><span id="output1Pal"></span></h2>
										<div class="form-group row">
											<div class=" col-sm-2 col-md-2 offset-md-3 offset-lg-3 col-lg-4">
												<button id="palCl" type="button" class="btn btn-warning">Clear</button>
											</div>
										</div>
									</div>
									<div class="row">
										<button class="btn btn-success" type="button" id="showCodePal">Show / Hide Code</button>
									</div>
								</form>
								<div class="row">
									<div class="col-md-12">
										<div id="hideCodePal">

										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ==== END PROJECT ITEM ==== -->	
            <!-- ==== PROJECT ITEM Bug Tracker MVC==== -->
            <article class="project-item logo" data-toggle="modal" data-target=".project-item-10">
                <img class="img-responsive project-image" src="~/assets/images/Unofficial_JavaScript_logo_2.svg.png" height="280" width="210" alt=""><!--Project thumb -->
                <h2 class="project-title">Bug Tracker</h2><!--Project Title -->
            </article>

            <!--==== Bug Tracker MVC ====-->
            <div class="modal fade project-item-10">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">
                                    <i class="fa fa-times"></i>
                                </span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">Bug Traker<span>MVC</span></h4><!--Modal Title, Subtitle -->
                            <img src="~/assets/images/project.jpg" alt="" />
                        </div>
                        <div class="modal-body">
                            <p>This application will help you De-bug your software, giving you reports and charts showing your code at work. Using MVC, C# technologies</p>
                        </div>
                    </div>
                </div>
            </div>
			<!-- ==== END PROJECT ITEM ==== -->

		</div><!-- End projects -->

	</div><!-- End container -->


</section><!-- End portfolio section --> 

		<!-- ==============================================
		CONTACT
		=============================================== -->
		<section id="contact" class="">
		
			<div class="container">
				
				<div class="row">

					<div class="col-xs-12">
						<h1 class="big-text orange wow fadeInDown text-center" data-wow-offset="100">
							<i class="fa fa-comments-o"></i>
							Contact Me
						</h1>
					</div>
				
					<div class="clear"></div>
					
					<div class="col-md-6 text-right hidden-sm hidden-xs">
						
						<!-- MAP -->
						@*<div id="gmap" class="wow fadeInLeft" data-wow-offset="100"></div>*@
					
					</div>
				
					<!--=== Contact info ===-->

					<div class="col-md-8 col-md-offset-4 contact-info">
						<p class="contact-text wow fadeInRight">

						</p>
						<ul class="contact-list">
							
							<li class="wow fadeInRight" data-wow-delay="0s">
								
								<i class="fa fa-map-marker"></i> High Point, North Carolina
								
							</li>
							<li class="wow fadeInRight" data-wow-delay="0s">
								<!-- <a href="tel:12345678910">-->
								<i class="fa fa-phone"></i> 239 849 1919
								<!--  </a>-->
							</li>
							<li class="wow fadeInRight" data-wow-delay="0s">
								<a href="mailto:carlnarv@hotmail.com">
									<i class="fa fa-envelope"></i> carlnarv@hotmail.com
								</a>
							</li>
							<li class="wow fadeInRight" data-wow-delay="0s">
								<a href="assets/images/CN%20Resume%20IT_5.docx">
									<i class="fa fa-file-text"></i> Word Document Resume
								</a>
							</li>
						</ul>
					</div>
					<!--=== End Contact ===-->
					
				</div>
				
			</div>
		
		</section><!--=== End Contact section ===-->
		
	
		
		

@section scripts
{
			
	<script>
		new WOW().init();

		/*============================================
		Map
		==============================================*/

		//var mapPoint = {
		//		'lat': 47.496733,
		//		'lng': 19.044748,
		//		'zoom' : 15,
		//		'icon': '~/assets/images/marker.png'
		//	};

	</script>

}
		
		
